body {
    margin: 0;
    background-color: bisque;
    /* background-image: url(../images/bg.jpg); */
}

.menu {
    padding: 20px;
    display: block;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 0, 0.329);
}

li {
    padding: 40px;
    display: inline;
    font-size: 22px;
    /* background: #000; */
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.logo {
    padding-left: 50px;
}

.container {
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100vh;
}

.footer {
    display: flex;
    justify-content: center;
    background: black;
    color: white;
}